<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <![endif]-->
    <title>Treedom</title>
    <meta id="share-name" itemprop="name" content="">
    <meta id="share-description" itemprop="description" content="">
    <meta id="share-image" itemprop="image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- 设备方向 -->
    <script type="text/javascript">
        <%= require('raw-loader!./src/js/app/module/Orient.js') %>
    </script>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
        <% var cssFile = htmlWebpackPlugin.files.css[css] %>
        <link href="<%= cssFile %>" rel="stylesheet">
    <% } %>

    <!-- 授权加代码统计系统 -->
    <!-- <script id="__ga" type="text/javascript" src="https://ga.treedom.cn/ga.js?v=0.3.4&pid=9999"></script> -->
</head>
<body>
    <!-- 可删除 start -->
    <!-- <button style="position: absolute;z-index: 2;top: 40%;left: 20%;" onclick="document.querySelector('.m-vertical').style.display='block';document.querySelector('.m-horizontal').style.display='none'">竖屏显示</button>
    <button style="position: absolute;z-index: 2;right: 20%;top: 40%;" onclick="document.querySelector('.m-vertical').style.display='none';document.querySelector('.m-horizontal').style.display='block'">横屏显示</button> -->
    <!-- 可删除 end -->

    <!-- 竖屏页 -->
    <div class="m-vertical absf">
        <div class="m-wrap abcter">
            <!-- 业务逻辑代码 stat -->

            <div class="m-loading"></div>
            <div class="m-end"></div>

            <!-- 业务逻辑代码 end -->
        </div>
    </div>

    <!-- 横屏页 -->
    <div class="m-horizontal absf">
        <div class="m-wrap abcter">
            <!-- 同上 -->
        </div>
    </div>

    <!-- 微信分享JSDK 需要时打开 -->
    <!-- <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script> -->

    <!-- 交接代码 -->
    <% if (process.env.NODE_ENV === 'handover') { %>
        <script src="//ossweb-img.qq.com/images/js/TGMobileShare/TGMobileShare.min.js"></script>
        <!-- <script src="https://ossweb-img.qq.com/images/spiderMediaData/dnf_new/mediaURLData_https.js"></script> -->
        <script src="//ossweb-img.qq.com/images/js/PTT/ping_tcss_tgideas_https_min.js"></script>
        <script>
            //此段代码不能放到外链JS中，
            var setSite = { //设置网站属性
                siteType: "a20191018zydk", //必填项:"os"代表是官网，如果不是，则填写actName例如a20160701xxx
                pageType: "index", //必填项:本页面的定位；按照页面含义填写例如main||list||detail||download||share||page1||pageN,不支持点(.)、下划线(_)
                pageName: "首页", //必填项:页面中文名
                project: "other",
                //选填项:如果是官网模块则是必填;按照模块内容，填写固定的对应值;官网微社区base;同人站doujin;赛事match;故事站story;文化站history;粉丝站fans;爆料站coming;论坛bbs;皮肤skin;默认other;
                osact: 0 //选填项:默认是0。osact=0表示非官网专题；osact=pc表示pc官网/pc官网专题；osact=m表示移动官网/移动官网专题；osact=ingame表示微社区/微社区专题
            };
            if (typeof (pgvMain) == 'function') pgvMain(); //千万不能忘记！
            (function () {
                window._shareData = {
                    shareTitle: '赶快来挑战强者之路，搭配职业共逐巅峰，领取丰厚奖品吧！',
                    shareDesc: '赶快来挑战强者之路，搭配职业共逐巅峰，领取丰厚奖品吧！',
                    shareImgUrl: 'https://game.gtimg.cn/images/dnf/cp/a20191018zydk/share.jpg',
                    shareLink: location.origin + location.pathname,
                    actName: 'a20191018zydk',
                    types: "1,2,3,4,5,6,7"
                };

                TGMobileShare(window._shareData);
            }())
        </script>
    <% }%>

    <!-- 本地静态库 -->
    <% for (var chunk in htmlWebpackPlugin.files.js) { %>
        <% var jsFile = htmlWebpackPlugin.files.js[chunk];%>
        <script src="<%= jsFile %>"></script>
    <% } %>

    </body>
</html>
