@import "common.less";
@import "reset.less";
@import "keyframe.less";

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    font-size: 24px;
}

.m-vertical {
    // .hide;
    .m-wrap {
        overflow: hidden;
        &:after{
            content: '';
            .abcter;
            .img('../img/1.png');
        }
        
    }
}

.m-horizontal {
    .hide;
    .m-wrap {
        overflow: hidden;
        &:after{
            content: '';
            .abcter;
            .img('../img/2.png');
        }
    }
}
